body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;


}

.box{
    width: 450px;
    padding: 50px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #8b8989;
    text-align: center;

}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box h2{
    color: white;
    width: 100;
    font-weight: 200;
}

.box label{
    color: white;
    text-align: center;
}

.logo img{
    position: absolute;
    margin-top: -23px;
    margin-left: 0px;
    height: 80px;
    width: 120px;
}


.box input[type="text"],.box [input = "firstname"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(224, 27, 27);
    padding: 14px 10px;
    width: 260px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;

}

.box input[type="password"],.box [input = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(224, 27, 27);
    padding: 14px 10px;
    width: 260px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;

}



.box input[type="email"],.box [input = "email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(224, 27, 27);
    padding: 14px 10px;
    width: 260px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;

}

.box input[type="phonenumber"],.box [input = "phonenumber"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(224, 27, 27);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;

}

.box input[type="text"]:focus,.box [input = "firstname"]{
    width: 300px;
    border-color: #2ecc71;
}


.box input[type="email"]:focus,.box [input = "password"]{
    width: 300px;
    border-color: #2ecc71;
}

.box input[type="password"]:focus,.box [input = "password"]{
    width: 300px;
    border-color: #2ecc71;
}



.box input[type="nr"]:focus,.box [input = "password"]{
    width: 300px;
    border-color: #2ecc71;
}



.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

}

.box input[type="submit"]:hover{
    background: #2ecc71;


}

