
table, th, td{
    border: 2px solid black;
    width: 900px;
    background-color: #3F0	;
    text-align: center;
    padding: 5px;
}

.btn{
    width: 25%;
    height: 5%;
    font-size: 18px;
    padding: 0px;
    background-color: #FFF;
}

.search{
    width: 15%;
    height: 5%;
    font-size: 15px;
    padding: 0px;
    background-color: #090;
}

.label{
    color: black;
}